body{
    background-color: gainsboro;
}
.carousel-item, .carousel-item img{
    height: 32rem;
}
.carousel{
    margin-bottom: 3rem;
}
.imagesrounded{
    text-align: center;
}
.TEXT{
    color: black;
}
